<div class="grid-container">

    <!--  HEADER SECTION-->
    <section class="header is-flex">
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://versicherungs-vergleich.com">
                    <div class="home-icon-container">
                        <img src="../../assets/icons/insurance.svg" alt="versicherungs-vergleich-logo" class="home-icon">
                        <span>Versicherungs-Vergleich.com</span>
                    </div>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">

                    <a class="navbar-item">
                        Versicherungsvergleich
                    </a>
                    <a class="navbar-item">
                        Über uns
                    </a>
                    <a class="navbar-item">
                        Kontakt
                    </a>
                    <a class="navbar-item">
                        Impressum & Datenschutz
                    </a>

                </div>
            </div>
        </nav>

        <button class="button contact-button">
            <div>
                <img src="../../assets/icons/telephone.svg" class="phone-icon">
            </div>
            <div>
                <strong>Jetzt Kontakt aufnehmen</strong>
                <p>oder kostenlosen Rückruf vereinbaren</p>
            </div>
        </button>

    </section>

    <!--  BENEFIT SECTION-->
    <section class="section benefits is-flex">
        <article class="panel is-primary is-flex is-justify-content-space-between is-flex-direction-column">

            <p class="panel-heading">
                Versicherungsvergleich mit uns - Ihre Vorteile auf einen Blick
            </p>

            <div class="columns is-vcentered is-flex-grow-1">

                <div class="column">
                    <a class="panel-block">
                        <object data="../../assets/icons/family.svg" type="image/svg+xml" class="panel-icon icon"></object>
                        <p class="icon-text">Persönliche Beratung für Ihre Lebenslage</p>
                    </a>

                    <a class="panel-block is-flex is-flex-direction-column">
                        <div>
                            <object data="../../assets/icons/contract.svg" type="image/svg+xml" class="panel-icon icon"></object>
                            <p class="icon-text">Unabhängige Beratung</p>
                        </div>
                        <p style="font-size: 0.8em">Als freier Versicherungsmakler arbeiten wir mit nahezu allen namhaften deutschen Versicherern zusammen</p>
                    </a>


                    <a class="panel-block">
                        <object data="../../assets/icons/home.svg" type="image/svg+xml" class="panel-icon icon"></object>
                        <p class="icon-text">Bequem von zuhause</p>
                    </a>
                </div>


                <div class="column">
                    <a class="panel-block">
                        <object data="../../assets/icons/sand-clock.svg" type="image/svg+xml" class="panel-icon icon"></object>
                        <p class="icon-text">Langjährige Erfahrung</p>
                    </a>

                    <a class="panel-block">
                        <object data="../../assets/icons/medical-insurance.svg" type="image/svg+xml" class="panel-icon icon"></object>
                        <p class="icon-text">Hohe Kundenzufriedenheit</p>
                    </a>

                    <a class="panel-block">
                        <object data="../../assets/icons/payment.svg" type="image/svg+xml" class="panel-icon icon"></object>
                        <p class="icon-text">100% Kostenfrei, auch ohne Vertragsabschluss</p>
                    </a>
                </div>

            </div>

        </article>
    </section>

    <!--  TEXT SECTION-->
    <section class="section info-text is-flex">
        <!--    <article class="panel is-primary is-flex is-justify-content-space-between is-flex-direction-column">-->

        <!--      <p class="panel-heading">-->
        <!--        Versicherungsvergleich mit uns - deine Vorteile auf einen Blick-->
        <!--      </p>-->

        <!--      <div class="columns is-vcentered is-flex-grow-1">-->


        <!--      </div>-->

        <!--    </article>-->
    </section>


    <!--  CONTACT SECTION-->
    <section class="hero is-primary contact-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Interessiert?
                </h1>
                <h2 class="subtitle">
                    Ihr direkter Ansprechpartner
                </h2>
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </div>
    </section>

</div>
