<div class="grid-container">

<!--  HEADER-->
  <div class="header">
    <object data="../../assets/icons/insurance.svg" type="image/svg+xml" class="home-icon"></object>
    <h1>Header</h1>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

  </div>

<!--  BENEFIT SECTION-->
  <div class="benefits">

    <h2>Versicherungsvergleich mit uns - deine Vorteile auf einen Blick</h2>

    <div class="flex-container">

      <div class="item-container">
        <object data="../../assets/icons/family.svg" type="image/svg+xml" class="icon"></object>
        <p class="icon-text">Persönliche Beratung für deine Lebenslage</p>
      </div>
      <div class="item-container">
        <object data="../../assets/icons/contract.svg" type="image/svg+xml" class="icon"></object>
        <p class="icon-text">Unabhängig von bestimmten Versicherungsunternehmen</p>
      </div>
      <div class="item-container">
        <object data="../../assets/icons/home.svg" type="image/svg+xml" class="icon"></object>
        <p class="icon-text">Bequem von zuhause</p>
      </div>
      <div class="item-container">
        <object data="../../assets/icons/sand-clock.svg" type="image/svg+xml" class="icon"></object>
        <p class="icon-text">Langjährige Erfahrung</p>
      </div>
      <div class="item-container">
        <object data="../../assets/icons/medical-insurance.svg" type="image/svg+xml" class="icon"></object>
        <p class="icon-text">Hohe Kundenzufriedenheit</p>
      </div>
      <div class="item-container">
        <object data="../../assets/icons/payment.svg" type="image/svg+xml" class="icon"></object>
        <p class="icon-text">100% Kostenfrei</p>
      </div>


    </div>


  </div>

</div>
